<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <% if @same_household_voter %>
        <div id="household-voter" class="columns is-centered has-text-centered">
          <div class="column is-narrow">
            <span class="box has-text-white mini-info is-rounded">
              <a id="household-badge" href="<%= voter_path @same_household_voter %>">
                🏡&nbsp;<b><%= @same_household_voter.display_name %></b>'s household member
              </a>
            </span>
          </div>
        </div>
      <% end %>
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="voter-name" class="title is-uppercase is-1 has-text-weight-normal mb-0">
            <%= @voter.display_name %>
          </p>
        </div>
      </div>
      <div class="columns is-centered has-text-centered">
        <div class="column is-half-tablet is-narrow-mobile">
          <p id="voter-phone" class="subtitle is-2">
            <% if @voter.primary_phone_number %>
              <%= link_to @voter.phone_number_display, "tel:#{@voter.primary_phone_number}" %>
            <% else %>
              No phone number given
            <% end %>
          </p>
        </div>
      </div>
      <div id="voter-facts" class="columns is-centered has-text-centered mt-4">
        <div class="column is-narrow">
          📝 Plan: <%= @voter.vote_plan || "Unavailable" %>
        </div>
      </div>
      <% if @voter.polling_place_display %>
        <div id="voter-polling-place" class="columns is-centered has-text-centered mt-1">
          <div class="column is-narrow">
            <span class="box has-text-white mini-info has-background-info-dark is-rounded">
              📍 Polling place: <%= @voter.polling_place_display %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="contact-actions" class="section">
  <div class="container">
    <div class="columns is-multiline is-centered is-mobile">
      <div class="column is-narrow">
        <%= form_tag voter_path(@voter), method: :patch do %>
          <%= hidden_field_tag :last_call_status, "should_call_again" %>
          <%= submit_tag "Mark to contact again", class: "button is-medium is-info is-light" %>
        <% end %>
      </div>
      <div class="column is-narrow">
        <%= form_tag voter_path(@voter), method: :patch do %>
          <%= hidden_field_tag :last_call_status, "do_not_call" %>
          <%= submit_tag "Don't contact again", class: "button is-medium is-warning is-light" %>
        <% end %>
      </div>
      <div class="column is-narrow">
        <a href="<%= voter_path(@voter) %>/next?skip=true" class="button is-link is-medium is-light">
          Skip for now
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full-tablet is-half-desktop">
        <div id="conversation-guide-wrapper">
          <p class="title">Conversation Guide</p>
          <div class="box content">
            <%= markdown(campaign_script) %>
          </div>
        </div>
      </div>


      <div class="column column is-full-tablet is-half-desktop">
        <div id="household" class="columns">
          <div class="column">
            <div id="household-members">
              <p class="title">Other members of <%= @voter.first_name.capitalize %>'s household</p>
              <div id="bonus" class="mb-4">
                <p>
                  ✨ Bonus ✨ Call these people as well to increase our votes!
                </p>
              </div>
              <div class="box contacts">
                <div class="table-container">
                  <table class="table is-fullwidth">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Vote plan</th>
                        <th>Call Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if @voter.household_members.empty? %>
                        <tr class="has-text-centered is-light p-5">
                          <td colspan="6">No household members.</td>
                        </tr>
                      <% end %>
                      <% @voter.household_members.each do |v| %>
                        <tr>
                          <td>
                            <%= link_to v.display_name, voter_path(v) %>
                          </td>
                          <td><%= v.phone_number_display %></td>
                          <td><%= v.vote_plan || "Unavailable" %></td>
                          <td><%= v.last_call_status_display %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
