<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= camapign_name %> - GOTV</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
  </head>


  <body class="gotv-page login-page">
    <img id="main-photo" src="<%= home_image_url %>" alt="Image of the candidate"/>

    <section class="hero is-link">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand py-4 px-5">
          <a class="navbar-item" href="/">
            <img id="logo" src="<%= asset_path "logo.png" %>" alt="<%= camapign_name %> Logo">
          </a>
        </div>
      </nav>

      <div class="hero-body countdown">
        <div class="container">
          <% if polls_close_time %>
            <div class="columns is-centered is-mobile">
              <div class="column is-half-tablet is-narrow-mobile">
                <p id="countdown_intro" class="title has-text-weight-normal mb-0">
                POLLS CLOSE <%= polls_close_time.strftime("%l%p %A").upcase %>!
                </p>
              </div>
            </div>
            <div class="columns is-centered is-mobile">
              <div class="column is-half-tablet is-narrow-mobile">
                <div id="countdown">
                  00:00:00
                </div>
              </div>
            </div>
            <div class="columns is-centered is-mobile">
              <div class="column is-half-tablet is-narrow-mobile">
                <p id="countdown_tagline" class="subtitle has-text-weight-normal">
                  There's still time to make a difference
                </p>
              </div>
            </div>
          <% else %>
            <div class="columns is-centered is-mobile">
              <div class="column is-half-tablet is-narrow-mobile">
                <p id="countdown_intro" class="title has-text-weight-normal mb-0">
                  POLLS CLOSE SOON!
                </p>
              </div>
            </div>
            <div class="columns is-centered is-mobile">
              <div class="column is-half-tablet is-narrow-mobile">
                <p id="countdown_tagline" class="subtitle has-text-weight-normal">
                  There's still time to make a difference
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>

    <section id="login-form-section" class="section">
      <div class="container">
        <div class="columns is-centered">

          <div class="column is-half-tablet is-narrow-mobile">
            <div class="container mb-5 mt-3">
              <% flash.each do |type, msg| %>
                <div class="notification is-<%= type %>">
                  <%= msg %>
                </div>
              <% end %>
            </div>

            <%= yield %>
          </div>
        </div>
      </div>
    </section>

<script>
<% if polls_close_time %>

function zeroPadIfNeeded(val) {
    if (val < 10) {
        return "0" + val.toString();
    }
    return val.toString();
}

function getDisplayTime(seconds_remaining) {
    if (seconds_remaining <= 0) {
        return "00:00:00"
    }

    let hours_remaining = Math.floor(seconds_remaining / (60 * 60));
    let minutes_remaining = Math.floor(seconds_remaining / 60);

    let hours_to_display = hours_remaining;
    let minutes_to_display = minutes_remaining % 60;
    let seconds_to_display = Math.floor(seconds_remaining) % 60;

    return zeroPadIfNeeded(hours_to_display) +
      ":" +
      zeroPadIfNeeded(minutes_to_display) +
      ":" +
      zeroPadIfNeeded(seconds_to_display);
}

function startTimer(polls_close_time) {
    let interval = window.setInterval(() => {
        let now = Date.now();
        let seconds_left = (polls_close_time - now)/1000;

        if (seconds_left <= 0) {
            clearInterval(interval);
        }

        let time_to_display = getDisplayTime(seconds_left);
        document.getElementById('countdown').innerHTML = time_to_display;
    }, 1000);
}

window.addEventListener('DOMContentLoaded', (event) => {
  // Removing the "Z" is a hack to make things tz-unaware. Should figure out a
  // a better way to do this but in rails it's not trivial
  let polls_close_time = new Date("<%= polls_close_time.iso8601.gsub('Z', '') %>").getTime();
  startTimer(polls_close_time);
});

<% end %>
</script>
</body>
</html>
